*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url(../Imagenes/Flora/winter-8607009_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
}

header{
    background: linear-gradient(to bottom, rgb(0, 0, 0),rgb(0, 0, 0), transparent);
    color: white;
    display: flex;
    flex-direction: column;
}

header div{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.embleman{
    margin-right: 10px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

li{
    margin-top: 20px;
    font-size: 17px;
    display: inline-block;
    transition: width 2s height 2s;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    background-color: black;
    transition: 0.5s ease;
    padding: 15px 20px;
    border-radius: 10px;
}

main{
    margin-top: 50px;
    text-align: center;
}

.titulop{
    display: inline-block;
    padding: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

section{
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    color: white;
    margin: 40px 120px;
    border-radius: 10px;
    height: auto;
    background-color: rgba(46, 46, 46, 0.8);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'titulo imagen'
    'texto imagen'
    'texto imagen'
    ;
}

.izquierda{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'imagen titulo'
    'imagen texto'
    'imagen texto'
    ;
}

.titu{
    grid-area: titulo;
    margin-top: 50px;
    height: 50px;
}

.texto{
    font-size: 17px;
    align-items: center;
    grid-area: texto;
    margin: 20px;
}

.imagenes{
    grid-area: imagen;
    margin: 20px 100px 20px 100px;
    height: 420px;
    border-radius: 10px;
}

section:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}

footer{
    color: white;
    align-items: center;
    font-size: 10px;
    margin-top: 50px;
    background: linear-gradient(to top, rgb(0, 0, 0),rgb(0, 0, 0), transparent);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    'parque proyecto grupo escuela logo'
    ;
}

footer div{
    margin: 30px;
}

.parq{
    grid-area: parque;
}

.pro{
    grid-area: proyecto;
}

.grup a{

    color: white;
    grid-area: grupo;
}

.escola{
    grid-area: escuela;
}

.imagen{
    grid-area: logo;
}

@media (max-width: 900px){
    body{
        background-image: url(../Imagenes/Flora/tierra-del-fuego-native-flora-part-4-v0-4r2tnnq0sjrc1.webp);
    }

    section{
        margin: 30px 40px 4px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .izquierda{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto{
        margin: 10px 40px 20px 40px;
        text-align: justify;
        line-height: 1.4;
    }

    section:hover{
        transform: none;
    }

    footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        'parque proyecto'
        'grupo escuela'
        'logo logo'
        ;
    }

    .imagen{
        position: relative;
        left: 230px;
    }
}
