*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url(../Imagenes/Paisaje/Parque-Nacional-Tierra-del-Fuego-invierno-Turismo-en-Ushuaia-3-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
}

header{
    background: linear-gradient(to bottom, rgb(0, 0, 0),rgb(0, 0, 0), transparent);
    color: white;
    display: flex;
    flex-direction: column;
}

header div{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.embleman{
    margin-right: 10px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

li{
    margin-top: 20px;
    font-size: 17px;
    display: inline-block;
    transition: width 2s height 2s;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    background-color: black;
    transition: 0.5s ease;
    padding: 15px 20px;
    border-radius: 10px;
}

main{
    margin-top: 50px;
    text-align: center;
}

.titulop{
    display: inline-block;
    padding: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.contenedor{
    width: 70%;
    margin: 50px auto 0px;
    overflow: hidden;
}

.contenedor:hover{
    transform: scale(1.05);
    transition: 0.5s ease;
}

.contenedor ul{
    display: flex;
    width: 400%;
    animation: deslizar 16s infinite alternate;
}

.contenedor li{
    list-style: none;
    width: 100%;
}

.contenedor img{
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

@keyframes deslizar{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

footer{
    color: white;
    align-items: center;
    font-size: 10px;
    margin-top: 50px;
    background: linear-gradient(to top, rgb(0, 0, 0),rgb(0, 0, 0), transparent);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    'parque proyecto grupo escuela logo'
    ;
}

footer div{
    margin: 30px;
}

.parq{
    grid-area: parque;
}

.pro{
    grid-area: proyecto;
}

.grup a{

    color: white;
    grid-area: grupo;
}

.escola{
    grid-area: escuela;
}

.imagen{
    grid-area: logo;
}
